Package: com.atrt7.npcolor
Name: NPColor
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: atrt7
Author: atrt7
Section: Tweaks
Depends: mobilesubstrate (>= 0.9.5000)
